@import url("https://fonts.googleapis.com/css?family=Oswald:700");

body     {
  background:#231F20;
  text-align:center;
}

h1         {
  color:#FFF;
  font-family:'Oswald';
  font-weight:700;
  position:relative;  
  margin:30px auto;
  text-transform:uppercase;
  width:550px;
}

h1::before, h1::after {
    content: " ";
    background: #4A90E2;
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
}

h1::before {
    border-radius: 25px 0px 0px 25px;
    margin-top: 13px;
    margin-left: -35px;
}

h1::after {
    border-radius: 0px 25px 25px 0px;
    margin-top: 13px;
    margin-left: 10px;
}

